tmp/
temp/
logs/
cache/
__cache__/

.DS_Store
*.log
*.out
*.err

*.pt
*.pb
*.h5
*.pth
*.pkl
*.npz
*.onnx
*.ckpt
*.tflite
*.joblib

.env
.env.*
keys/
secrets/
credentials/

*.env
env/
ENV/
venv/
.venv/
poetry.lock
Pipfile.lock

token.json
service_account.json

*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.spec
.eggs/
*.py.class
*.manifest
*.egg-info/
__pycache__/

.git/
.gitignore
.gitmodules
.gitattributes
.gitlab-ci.yml

.idea/
.vscode/
.spyproject
.ropeproject
.spyderproject
*.code-workspace
*.sublime-project
*.sublime-workspace

/notebooks/
*.nb.html
*.nbconvert/
notebooks/temp/
*.nbconvert.ipynb
*.ipynb_checkpoints
.ipynb_checkpoints/